* {
  margin: 0;
  scroll-behavior: smooth;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background: linear-gradient(deg 30, #c0c0da, rgba(72, 72, 194, 0.2));
}

.container {
  max-width: 1440px;
  margin: auto;
}

.paddings {
  padding: 40px 120px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navigation h4 {
  font-size: 40px;
  color: #ec5e5c;
  display: flex;
  align-items: center;
}

.navigation h4 img {
  height: 40px;
  margin-right: 8px;
}
.navigation h4 img:hover {
  height: 40px;
  transform: scaleY(1.1);
  transform: rotate(20deg);
}

.navigation p {
  font-size: 40px;
  color: #577b97;
}

.navigation span {
  font-size: 24px;
}

section {
  min-height: 100%;
  flex-grow: 1;
  background: linear-gradient(
    #ebebf0,
    rgb(104, 192, 210, 0.2),
    rgb(136, 136, 223, 0.2)
  );
}

.wrapper {
  min-height: 100vh;
  padding-top: 40px;
}

.book-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.book-card {
  height: auto;
  width: 25%;
  background: rgba(245, 251, 253, 0.8);
  border-radius: 20px;
  padding: 16px;
  transition: all 0.5s ease;
  backdrop-filter: blur(10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}

.book-image-box {
  height: auto;
  width: 100%;
}

.book-image {
  width: 100%;
  aspect-ratio: 1/1;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit: cover;
  box-shadow: 0 8px 16px rgba(63, 96, 139, 0.2);
}

.book-info-box {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 8px 0px;
  gap: 16px;
}

.book-info {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 4px;
}

.book-info h2 {
  font-size: 24px;
  color: #0c395c;
}

.book-info span {
  font-size: 18px;
  color: #577b97;
  margin: 4px 0px;
}

.book-info p {
  font-size: 16px;
  color: #0c395c;
}

.book-labels {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 8px;
  width: 100%;
}

.book-tags {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 4px 12px;
  transition: all 0.5s ease;
  backdrop-filter: blur(10px);
  box-shadow: 0 24px 40px rgba(34, 48, 76, 0.15);
}

.book-tags span {
  color: #ec5e5c;
  font-size: 14px;
}

.book-info-box-divider {
  height: 1px;
  width: 100%;
  background-color: #7994a9;
}

/* === FOOTER === */
footer {
  background-color: #1e1927;
  flex-shrink: 0;
}

.footer-content {
  display: flex;
  align-items: center;
}

.footer-content h4 {
  font-size: 40px;
  color: #fdf7ff;
}

.book-icon {
  height: 40px;
  margin-right: 8px;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(316deg)
    brightness(94%) contrast(111%);
}
